.liz-bubble-description {

	.bubbleDescriptionRow {
		padding: 20px 60px 0;

		.bubbleDescriptionTitle {
			width: 100%;
			height: 38px;
			float: right;
			margin-bottom: 30px;
			color: #FFF;
			background-color: #009500;
			padding-top: 2px;
			font-size: 20px;
			border-radius: 8px;
			border: 4px solid #005300;
			text-align: center;

			& > img {
				width: 60px;
				height: 60px;
				transform: rotate(339deg);
				-webkit-transform: rotate(339deg);
				-moz-transform: rotate(339deg);
				-o-transform: rotate(339deg);
				-ms-transform: rotate(339deg);
				position: absolute;
				top: -15px;
				left: 0;
			}
		}

		.bubbleDescriptionContent {
			float: left;
			width: 100%;
			background-color: #009500;
			color: #FFF;
			font-size: 14px;
			border-radius: 50%;
			height: 280px;
			border: 4px solid #005300;
			position: relative;

			& > p {
				margin-top: 20px;
				font-size: 17px;
				padding: 24px;
				height: 100%;
			}

			& > img {
				float: left;
				width: 294px;
				height: 294px;
				margin: 0;
				padding: 0;
				position: absolute;
				top: -11px;
				left: -11px
			}
		}
	}
}