.liz-show-multiple-hover-phrase {

  .block-content {

    .hover-words-row {
      padding: 10px 56px;

      .hover-phrase-phrases {
        font-size: 23px;
        padding-top: 80px;
      }
    }
  }
}