@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-zoom {

	.main-img {
		text-align: center;
		cursor: pointer;

		img {
			display: inline-block;
		}
	}

	.text-container{
		width: 50%;
		float: left;

		p{
			font-size: 20px;
		}

	}

	.overlay {
		background: #fff;
	}

	.big-img {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 151;
		top: 0;
		left: 0;
		overflow: scroll;

		img {
			color: #fff;
		}
	}

	.close-btn {
		z-index: 152;
		position: fixed;
		top: 16px;
		right: 32px;
		font-size: 22px;
		width: 2em;
		height: 2em;
	}

}
