.liz-checkbox-options {

	  .questions {
	    float: left !important;
	    width: 57% !important;
	  }

	  .answers {
	    float: none !important;
	    margin-top: 25px !important;
	  }

	  .answer {
	    width: 100% !important;
		float: left !important;
		font-size: 22px !important;
		position: relative !important;
	  }

	  .right-answer, .wrong-answer {
	    width: 34px !important;
		height: 34px !important;
		-webkit-background-size: 34px 34px !important;
		background-size: 34px 34px !important;
		right: 10px !important;
		top: -8px !important;
		position: absolute !important;
	  }
}