@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-click-and-listen {

	table {
		border: 2px solid;
		width: 100%;

		th, td {
			width: 50%;
			padding: 8px 8px;
		}

		th {
			color: #fff;
		}

		td {
			text-align: center;
			border: 2px solid;
			cursor: pointer;
		}

	}

}
