.liz-complete-inputs-free .item {
  width: 40%;
  float: left;
  font-size: 24px;
  text-align: center;
}
.liz-complete-inputs-free .item.per-row-1 {
  width: 99%;
}
.liz-complete-inputs-free .item.per-row-2 {
  width: 49.5%;
}
.liz-complete-inputs-free .item.per-row-3 {
  width: 33%;
}
.liz-complete-inputs-free .item.per-row-4 {
  width: 24.75%;
}
.liz-complete-inputs-free .item.per-row-5 {
  width: 19.8%;
}
.liz-complete-inputs-free .item.per-row-6 {
  width: 16.5%;
}
@media (max-width: 992px) {
  .liz-complete-inputs-free .item {
    width: 50%;
    text-align: left;
    font-size: 18px;
  }
}
.liz-complete-inputs-free .complete-container {
  float: left;
  border: 3px solid #000;
  font-size: 1.4em;
  font-family: 'century_gothic';
  width: 55%;
  float: left;
  margin-left: 5%;
}
.liz-complete-inputs-free .complete-container .input-container {
  width: 211px;
  border: none;
  border-bottom: 2px solid #000;
}
.liz-complete-inputs-free .complete-container div {
  display: inline-block;
}
.liz-complete-inputs-free .complete-container textarea[type=text] {
  width: 100%;
  outline: none;
  font-size: 24px;
  background: transparent;
  color: #333333;
  border: none;
}
@media (max-width: 992px) {
  .liz-complete-inputs-free .complete-container textarea[type=text] {
    font-size: 18px;
  }
}
.liz-complete-inputs-free .complete-container textarea[type=text]:focus {
  color: #ffffff;
}
.liz-complete-inputs-free .letters {
  text-align: center;
}
.liz-complete-inputs-free .letters .syllable {
  display: inline-block;
  padding: 0 20px;
  font-size: 2em;
}
.liz-complete-inputs-free .right-answer, .liz-complete-inputs-free .wrong-answer {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}
