@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-count-elements2{

	.items{
		@include align-children;
	}

	.item{
		width: 33%;

		input[type=text]{
			display: block;
			margin: auto;
			width: 50px;
			border: 2px solid #000;
			text-align: center;
			padding: 8px 6px;
			font-size: 2em;
			outline: none;
		}
	}

}
