@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-differences{

	// Images
	.images{
		@include align-children;
		margin-bottom: 2em;

		img{
			margin: 0 1em;
			max-height: 260px;
		}
	}

	// Inputs
	.inputs{

		input[type="text"]{
			outline: none;
			margin-bottom: 10px;
			font-size: 20px;
			padding: 4px 6px;
		}

	}

}
