@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

$color1: #BD0926;
$item-height: 40px;

.liz-drop-boxes{

	& > .block-content{
		@include clearfix;
	}

	.btn-primary{
		width: 100%;
		max-width: none;
		font-size: 24px;
	}

	// Objetos restantes
	.remaining-items{
		width: calc( #{$item-height * 10} + 4px);
		height: calc( #{$item-height * 8} + 4px);
		float: left;
		border: 2px solid #000;
	}

	// Cada una de las fases
	.drop-boxes-phase{
		width: 50%;
		float: right;
	}

	.phase-title{
		background: $color1;
		text-align: center;
		font-size: 22px;
		padding: 4px 6px;
		color: #fff;
	}

	.phase-group-sortable{
		border: 2px solid #000;
		min-height: $item-height;
		@include clearfix;
	}

	.phase-item{
		float: left;
		width: $item-height;
		height: $item-height;
		line-height: $item-height;
		text-align: center;
		font-size: 22px;
		background: #fff;
		color: #000;
		cursor: pointer;
		@include transition(all 0.2s);

		&:hover {
			color: #fff;
			background: #000;
		}

	}

	// Caras 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		z-index: 6;
	}


}
