.liz-giraffe > .block-content {
  position: relative;
  *zoom: 1;
}
.liz-giraffe > .block-content:before, .liz-giraffe > .block-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.liz-giraffe > .block-content:after {
  clear: both;
}
.liz-giraffe .actual-multiplication {
  position: absolute;
  top: 300px;
  right: 100px;
  background: #bd0926;
  color: #FFF;
  border-radius: 50%;
  font-size: 41px;
  width: 4em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.liz-giraffe .giraffe-img {
  position: absolute;
  top: 0;
  right: 0;
}
.liz-giraffe .balloon {
  top: 2em;
  left: 2em;
  position: absolute;
  background: #bd0926;
  font-size: 44px;
  color: #FFF;
  width: 1.9em;
  height: 1.9em;
  border-radius: 50%;
  text-align: center;
  line-height: 1.9em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.liz-giraffe .balloon:hover {
  box-shadow: 0 0 0 5px #000;
}
.liz-giraffe .balloon.b1 {
  top: 2em;
  left: 2em;
}
.liz-giraffe .balloon.b2 {
  top: 6em;
  left: 6em;
}
.liz-giraffe .balloon.b3 {
  top: 6em;
  left: 12em;
}
.liz-giraffe .balloon.b4 {
  top: 2em;
  left: 9em;
}
.liz-giraffe .balloon.b5 {
  top: 3em;
  left: 6em;
}
.liz-giraffe .balloon.b6 {
  top: 4em;
  left: 1em;
}
.liz-giraffe .balloon.b7 {
  top: 5em;
  left: 10em;
}
.liz-giraffe .answer {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  float: left;
  margin-right: 0.4em;
}
.liz-giraffe .right-answer {
  background: #009500;
}
.liz-giraffe .wrong-answer {
  background: #BD0926;
}
.liz-giraffe .face {
  margin-left: -72px;
  width: 124px;
  left: 50%;
  top: 0%;
  z-index: 161;
}
