@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-group-inputs{

	& > .block-content{
		padding: 0;
		@include align-children;
	}

	.center{
		display: flex;//centrar verticalmente
		align-items: center;//centrar verticalmente
		justify-content: center;//centrar verticalmente

		a{
			width: 24%;float: left;display: inline-block;margin-left: 5px;

			img{width: 100%;float: left;display: inline-block;margin-left: 5px;}
		}
	}

	.complete-container{
		float: left;
		font-size: 1.4em;
		padding: 5px;
		font-family: 'century_gothic';
		width: 98%;
		float: right;
		margin-left: 1%;
		margin-bottom: 1%;

		img{width: 98%;float: left;display: inline-block;margin-left: 5px;}
		p{width: 75%;display: inline-block;float: left;}
	}

	.group-input{
		padding: 0.3em;

		.block{ text-align: center; }
		.block-content{
			padding: 0.2em;
		}

		input[type="text"]{
			width: 100%;
			border: 2px solid;
			margin-bottom: 0.6em;

			&:last-child{ margin-bottom: 0; }
		}
	}
	

}
