.liz-group-complete-images .item-img {
  width: 50%;
  font-size: 24px;
  text-align: center;
}
.liz-group-complete-images .item-img img {
  width: 50% !important;
  margin: auto;
}
.liz-group-complete-images .item {
  width: 10%;
  float: left;
  font-size: 24px;
  text-align: center;
}
.liz-group-complete-images .item .item-name {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
}
.liz-group-complete-images .item.per-row-1 {
  width: 99%;
}
.liz-group-complete-images .item.per-row-2 {
  width: 49.5%;
}
.liz-group-complete-images .item.per-row-3 {
  width: 33%;
}
.liz-group-complete-images .item.per-row-4 {
  width: 24.75%;
}
.liz-group-complete-images .item.per-row-5 {
  width: 19.8%;
}
.liz-group-complete-images .item.per-row-6 {
  width: 16.5%;
}
@media (max-width: 992px) {
  .liz-group-complete-images .item {
    width: 50%;
    text-align: left;
    font-size: 18px;
  }
}
.liz-group-complete-images .text-box {
  width: 100%;
  float: left;
  padding: 0.6em;
}
.liz-group-complete-images .text-box .block {
  min-height: 50px;
  text-align: center !important;
}
.liz-group-complete-images .text-box .block-content {
  min-height: 10em;
  padding: 0.6em;
  border: 3px solid #000;
  display: inline-block;
}
.liz-group-complete-images .text-box .block-content strong {
  font-size: 20px !important;
  text-decoration: underline;
}
.liz-group-complete-images .text-box .block-content strong2 {
  font-size: 20px !important;
}
.liz-group-complete-images .text-box .block-content p {
  width: 69%;
  float: left;
  margin-left: 0.6em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.liz-group-complete-images .text-box .block-content .main-img {
  width: 29%;
  float: left;
}
.liz-group-complete-images .complete-container {
  float: left;
  border: 3px solid #000;
  font-size: 1.4em;
  padding: 5px;
  font-family: 'century_gothic';
  width: 98%;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
}
.liz-group-complete-images .complete-container .complete-words-container {
  margin-left: 1%;
}
.liz-group-complete-images .complete-container span .input-container {
  width: 211px;
  border: none;
  border-bottom: 2px solid #000;
  margin-left: 1%;
}
.liz-group-complete-images .complete-container span div {
  display: inline-block;
}
.liz-group-complete-images .complete-container span input[type=text] {
  width: 180px;
  text-align: center;
  outline: none;
  font-size: 24px;
  background: transparent;
  color: #333333;
  border: none;
}
@media (max-width: 992px) {
  .liz-group-complete-images .complete-container span input[type=text] {
    font-size: 18px;
  }
}
.liz-group-complete-images .complete-container span input[type=text]:focus {
  color: #ffffff;
}
.liz-group-complete-images .complete-container span input[type=text]:disabled {
  color: #c9c9ca;
}
.liz-group-complete-images .letters {
  text-align: center;
}
.liz-group-complete-images .letters .syllable {
  display: inline-block;
  padding: 0 20px;
  font-size: 2em;
}
.liz-group-complete-images .right-answer, .liz-group-complete-images .wrong-answer {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}
