.liz-group-complete-free-conditions .center {
  display: flex;
  align-items: center;
  justify-content: center; }
  .liz-group-complete-free-conditions .center a {
    width: 24%;
    float: left;
    display: inline-block;
    margin-left: 5px; }
    .liz-group-complete-free-conditions .center a img {
      width: 100%;
      float: left;
      display: inline-block;
      margin-left: 5px; }
.liz-group-complete-free-conditions .words-examples {
  width: 200px;
  float: left;
  border-radius: 10px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }
.liz-group-complete-free-conditions .item {
  width: 100%;
  float: left;
  font-size: 24px;
  text-align: center; }
  .liz-group-complete-free-conditions .item .item-name {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white; }
  .liz-group-complete-free-conditions .item.per-row-1 {
    width: 99%; }
  .liz-group-complete-free-conditions .item.per-row-2 {
    width: 49.5%; }
  .liz-group-complete-free-conditions .item.per-row-3 {
    width: 33%; }
  .liz-group-complete-free-conditions .item.per-row-4 {
    width: 24.75%; }
  .liz-group-complete-free-conditions .item.per-row-5 {
    width: 19.8%; }
  .liz-group-complete-free-conditions .item.per-row-6 {
    width: 16.5%; }
  @media (max-width: 992px) {
    .liz-group-complete-free-conditions .item {
      width: 50%;
      text-align: left;
      font-size: 18px; } }
.liz-group-complete-free-conditions .complete-container {
  float: left;
  border: 3px solid #000;
  font-size: 1.4em;
  padding: 5px;
  font-family: 'century_gothic';
  width: 98%;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%; }
  .liz-group-complete-free-conditions .complete-container img {
    width: 24%;
    float: left;
    display: inline-block;
    margin-left: 5px; }
  .liz-group-complete-free-conditions .complete-container p {
    width: 75%;
    display: inline-block;
    float: left; }
  .liz-group-complete-free-conditions .complete-container .complete-words-container {
    margin-left: 1%; }
  .liz-group-complete-free-conditions .complete-container span .input-container {
    width: 211px;
    border: none;
    border-bottom: 2px solid #000;
    margin-left: 1%; }
  .liz-group-complete-free-conditions .complete-container span div {
    display: inline-block; }
  .liz-group-complete-free-conditions .complete-container span textarea[type=text] {
    width: 100%;
    outline: none;
    font-size: 24px;
    background: transparent;
    color: #333333;
    float: left; }
    @media (max-width: 992px) {
      .liz-group-complete-free-conditions .complete-container span textarea[type=text] {
        font-size: 18px; } }
    .liz-group-complete-free-conditions .complete-container span textarea[type=text]:focus {
      color: #ffffff; }
    .liz-group-complete-free-conditions .complete-container span textarea[type=text]:disabled {
      color: #c9c9ca; }
.liz-group-complete-free-conditions .letters {
  text-align: center; }
  .liz-group-complete-free-conditions .letters .syllable {
    display: inline-block;
    padding: 0 20px;
    font-size: 2em; }
.liz-group-complete-free-conditions .right-answer, .liz-group-complete-free-conditions .wrong-answer {
  position: absolute;
  margin-top: 0%;
  left: 90%;
  width: 50px;
  height: 50px;
  background-size: 50px 50px; }
