@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

$size: 38px;
$color1: #BD0926;

.liz-letter-soup{

	& > .block-content{
		@include clearfix;
	}

	// Tabla con la sopa de letras
	.letter-soup-table{
		float: left;
		margin-right: 20px;

		& * {
			border: 2px solid #000;
		}

		td{
			text-align: center;
			font-size: 24px;
			width: $size;
			height: $size;
			line-height: $size;
			@include transition(all 0.3s);
			cursor: pointer;

			&:hover, &.selected{
				background: #000 !important;
				color: #fff;
			}

			&.completed{
				background: $color1;
				color: #fff;
			}

		}
	}


	// Grupos
	.letter-soup-groups{
		float: right;
	}

	.letter-soup-group{
		margin: 0 4px 10px 0;
		float: left;
		min-width: 200px;

		.group-title{
			background: $color1;
			color: #fff;
			text-align: center;
			font-size: 22px;
			padding: 4px 6px;
		}

		.group-word{
			padding: 4px 6px;
			margin-bottom: 2px;
			font-size: 22px;
			background: #ededed;
			@include transition(all 0.5s);

			// Palabra completada
			&.completed{ background: #000; color: #fff; }
		}
	}

	// Caras 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		z-index: 6;
	}



}
