@import "../bourbon/bourbon.scss";
@import "../common/animations.scss";

@mixin perfectIcon($size, $resource){
		width: $size;
		height: $size;
		background: url($resource) no-repeat 0 0;
		background-size: $size $size;

		@include animation(scale1 0.4s ease-in forwards);
		display: inline-block;
}

.liz-multiple-selection{

	.item{
		text-align: center;
		border: 4px solid #000;
		margin: 0 5px;
		padding: 5px;
		float: left;

		.icon-right{
			@include perfectIcon(80px, '../resources/common/icon_right.png');
		}

		.icon-wrong{
			@include perfectIcon(80px, '../resources/common/icon_wrong.png');
		}

		img{
			max-height: 175px;
			display: inline-block;
		}

		.options{
			margin-top: 0.2em;
			width: 100%;
			min-height: 250px;
			position: relative;
		}

		.option{
			cursor: pointer;
		}

		.btn-primary{
			padding: 0.2em;
			font-size: 1.3em;
			line-height: 1.2em;
			margin: 0;
			margin-bottom: 4px;
		}

	}

}
