.liz-one-group-rule .items {
  width: 30%;
  float: right;
  margin-top: 5%;
   }
.liz-one-group-rule .item {
  float: left;
  padding: 10px;
  cursor: pointer;
  border: 2px solid red;
   }
  .liz-one-group-rule .item.per-row-1 {
    width: 99%; }
  .liz-one-group-rule .item.per-row-2 {
    width: 49.5%; }
  .liz-one-group-rule .item.per-row-3 {
    width: 33%; }
  .liz-one-group-rule .item.per-row-4 {
    width: 24.75%; }
  .liz-one-group-rule .item.per-row-5 {
    width: 19.8%; }
  .liz-one-group-rule .item p {
    margin-top: 0;
    text-align: center;
    color: #fff;
    padding: 10px 6px; 
  }

.liz-one-group-rule .box {
  width: 50%;
  float: right;
  padding: 10px 10px 0 0; }
  .liz-one-group-rule .box .block {
    text-align: center; }
.liz-one-group-rule .target {
  position: relative;
  border: 3px solid #000;
  min-height: 350px;
  overflow: hidden; }
.liz-one-group-rule .target-container {
  min-height: 350px;
  *zoom: 1; }
  .liz-one-group-rule .target-container:before, .liz-one-group-rule .target-container:after {
    display: table;
    content: "";
    line-height: 0; }
  .liz-one-group-rule .target-container:after {
    clear: both; }
.liz-one-group-rule .group-img {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5; }
.liz-one-group-rule .face {
  margin-left: -72px;
  width: 124px;
  left: 50%;
  z-index: 6; 
}

.rule{
  width: 20%;
  height: 10%;
 padding: 30%;

}
