@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-one-group-toogle{

	.items{
		width: 50%;
		float: left;
	}

	.item {
		float: left;
		padding: 5px;
		cursor: pointer;

		// Clases para definir el tamaño
		@for $i from 1 through 5{
			&.per-row-#{$i}{ width: (99%/$i); }
		}

		p{
			margin-top: 0;
			text-align: center;
			color: #fff;
			padding: 9px 6px;
		}

	}

  // Drop container
	.box{
		width: 50%;
		float: right;
		padding: 10px 10px 0 0;

		.block{
			text-align: center;
		}

	}

	.target {
		position: relative;
		border: 3px solid #000;
		min-height: 350px;
		overflow: hidden;
	}

	.target-container{
		min-height: 350px;
		@include clearfix;
	}

	.group-img{
		position: absolute;
		margin: auto;
		bottom: 0;
		right: 0;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0.5;
	}



	// Caras 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		z-index: 6;
	}
}
