@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-puzzle2{

	.block-content{
		padding: 5px;
	}

	// Items: just circles
	.items {
		width: 40%;
		float: left;
		text-align: center;
		
		.item {
			$size: 100px;
			border-radius: 50%;			
			border: 3px solid #000;
			width: $size;
			height: $size;
			cursor: pointer;
			margin: 10px;
			display: inline-block;
		}
		
	}
	

	// Cuadro donde van cayendo las imágenes
	.puzzle2-canvas{
		border: 3px solid #000;
		float: right;

		.inner-canvas{
			position: relative;
			overflow: hidden;

			img{
				z-index: 1;
			}

			// Capa inferior donde caen los elementos "fallidos"
			.trap{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.target{
				position: absolute;
				@include align-children;
				/*background: rgba(0,0,0, 0.4); // para depurar*/
				z-index: 3;

				.item{
					$size: 50px;
					border-radius: 50%;			
					border: 3px solid #000;
					width: $size;
					height: $size;
				}
			}
		}

	}

	// *****************************************************************************
	// Caras
	// ***************************************************************************** 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		z-index: 6;
		top: 20%;
	}

}
