.liz-puzzle5  {

	.block-content {

		.puzzle2-canvas{
			width: 100%;

			.inner-canvas {

				& > img {
					margin: auto;
				}

				& > .target {
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					min-width: 4%;
					min-height: 7%;
					background-color: #fff;

					& > .target-item {
						width: 100% !important;
						height: 25px !important;
					}
				}
			}
		}
	}
}