.liz-puzzle1 .block-content {
  padding: 5px; }
.liz-puzzle1 .items {
  width: 30%;
  float: left; }
  .liz-puzzle1 .items .item {
    width: 49%;
    padding: 0px 4px;
    cursor: pointer;
    display: inline-block; }
.liz-puzzle1 .puzzle1-canvas {
  border: 3px solid #000;
  float: right; }
  .liz-puzzle1 .puzzle1-canvas .inner-canvas {
    min-height: 436px;
    min-width: 546px;
    position: relative;
    overflow: hidden; }
    .liz-puzzle1 .puzzle1-canvas .inner-canvas img {
      position: absolute;
      top: 0;
      left: 0; }
.liz-puzzle1 .face {
  margin-left: -72px;
  width: 124px;
  left: 50%;
  z-index: 6;
  top: 20%; }
