@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";


.liz-questions-images {

  .question {

    //max-width: 50%;
    //float: left;
    margin: 0 auto;
    margin-top:2%;

    img {
      margin-left: 5%;
      float: left;
      border: 3px solid #009500;
    }

    .question-text, .answers {
      font-size: 22px;
      float: left;
      text-align: center;
      vertical-align: middle;
      margin-left: 5%;
      width: 150px;
    }

    .question-text, .answer {
      padding: 10px;
      margin-top: 5%;

    }

    .answers {
      @include clearfix;
      float: left;
      //background-color: blue;
    }

    .onlyText {
      float: none !important;
      width: 60% !important;
      margin: 0 auto;

    }

    .right-answer, .wrong-answer {
      width: 40px;
      height: 40px;
      display: block;
      float: right;
      // -webkit-background-size: 50px 50px;
      background-size: 30px 30px;
      //right: 100px;
      //top: 25%;
      //position: absolute;
    }

  }

    // Caras
    .face {
      margin-left: -72px;
      width: 124px;
      left: 50%;
      top: 0;
      z-index: 161;
    }

}
