@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-radio-questions {

  .main-img {
    max-width: 60%;
    float: left;
    padding-right: 20px;
  }

  .questions {
    float: right;
    width: 40%;
  }

  .item-feedback{

    font-size: 15px
  }

  .question {
    margin-bottom: 50px;
    position: relative;

    .number {
      color: #fff;
      display: inline-block;
      float: left;
      font-size: 26px;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      text-align: center;
      margin-right: 9px;
    }

    .question-text, .answers {
      font-size: 18px;
    }

  }

  .answers {
    @include clearfix;
    margin-top: 25px;
  }

  .answer {
    width: 50%;
    float: left;
  }

  // Caras
  .face{
    margin-left: -72px;
    width: 124px;
    left: 50%;
    top: 0;
    z-index: 161;
  }

  .onlyText {
    float: none !important;
    width: 60% !important;
    margin: 0 auto;
  }

  .right-answer, .wrong-answer {
    width: 50px;
    height: 50px;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    right: -20px;
    top: 0;
    position: absolute;
  }


}
