.liz-image-map-description .block-content .image-table-content {
  width: 70%;
  margin: 0 auto;
}
.liz-image-map-description .block-content .image-table-content > thead th {
  background-color: #0c64e9;
  padding: 10px;
  color: #FFF;
  border: 2px solid #FFF;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows {
  border: 2px solid #FFF;
  border-bottom-color: #0c64e9;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows .image-table {
  padding: 0 18px;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows .image-table > img {
  border: 2px solid #0c64e9;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows .image-table-images-options {
  position: relative;
  padding: 10px;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows .image-table-images-options .image-options {
  position: relative;
}
.liz-image-map-description .block-content .image-table-content .image-table-rows .image-table-images-options .image-option {
  position: absolute;
  cursor: pointer;
}
.liz-image-map-description .block-content .disabled-option {
  cursor: default !important;
}
.liz-image-map-description .block-content .option-red {
  border: 1px solid #FFF;
  background-color: #df0209;
}
.liz-image-map-description .block-content .option-yellow {
  border: 1px solid #FFF;
  background-color: #ffef00;
}
.liz-image-map-description .block-content .option-green {
  border: 1px solid #FFF;
  background-color: #008f2f;
}
.liz-image-map-description .block-content .option-person-red {
  background-image: url(../resources/02/soc/06/rojo_peatonal_posterior.png);
  -webkit-background-size: 75px 75px;
  background-size: 75px 75px;
}
.liz-image-map-description .block-content .option-person-green {
  background-image: url(../resources/02/soc/06/verde_peatonal_posterior.png);
  -webkit-background-size: 80px 79px;
  background-size: 75px 75px;
}
.liz-image-map-description .block-content .right-answer, .liz-image-map-description .block-content .wrong-answer {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  position: absolute;
  right: -6px;
  top: -2px;
}
