@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

$color1: #BD0926;

.liz-select-words{

	& > .block-content{
		@include clearfix;
	}

	.text{
		float: left;
		width: 58%;
		margin-right: 2%;
		border: 2px solid #000;
		padding: 10px 12px;
		font-size: 18px;
	}

	.right-box{
		float: left;
		width: 40%;

		.btn-primary{
			font-size: 22px;
			margin: 0;
		}
	}

	// Caras 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		z-index: 6;
	}


}
