.liz-stack-multiple > .block-content {
  padding: 2px;
}
.liz-stack-multiple .groups .group {
  float: left;
  padding: 2px;
}
.liz-stack-multiple .groups .group .block {
  text-align: center;
}
.liz-stack-multiple .groups .group .block-content {
  min-height: 3em;
  padding: 5px;
}
.liz-stack-multiple .stack {
  position: fixed;
  width: 80%;
  bottom: 0;
  left: 10%;
  padding: 15px;
  text-align: center;
  max-height: 175px;
  line-height: 200px;
}
.liz-stack-multiple .stack .item {
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}
.liz-stack-multiple .stack .item img {
  max-height: 140px;
}
.liz-stack-multiple .face {
  margin-left: -72px;
  width: 124px;
  left: 50%;
  z-index: 6;
}
