@import "../bourbon/bourbon.scss";
@import "../common/_mixins.scss";

.liz-table-path {

	& > .block-content {
		@include clearfix;
	}

	// Tabla
	.table-path {
		width: 70%;
		float: left;

		table {
			width: 100%;
		}
	}

	// Imágenes a ambos lados
	.img-left,
	.img-right {
		width: 15%;
		float: left;
	}

	// Botón que elige el estudiante
	.inner-cell {
		cursor: pointer;
		text-align: center;
		font-size: 20px;
		padding: 4px 6px;
		border: 2px solid #000;
		@include transition(all 0.6s);

		&.completed {
			color: #fff;
		}
	}
	
	// Caras 
	.face{
		margin-left: -72px;
		width: 124px;
		left: 50%;
		top: 0;
		z-index: 161;
	}

}
